* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: gray;
  width: 96%;
  margin: 0 auto;
  margin-top: 2%;
  height: 620px;
  overflow: hidden;
}

.green {
  background-color: green;
  width: 96%;
  margin: 0 auto;
  height: 140px;
  margin-top: 2%;
}

.blue {
  background-color: blue;
  width: 14%;
  margin: 0 auto;
  height: 300px;
  margin-left: 2%;
  margin-top: 2%;
  display: inline-block;
  vertical-align: top;
}

.red {
  background-color: red;
  width: 80%;
  margin: 0 auto;
  height: 65%;
  margin-left: 1.8%;
  margin-top: 2%;
  display: inline-block;
}

.yellow1,
.yellow2,
.yellow3 {
  background-color: yellow;
  height: 200px;
  width: 200px;
  display: inline-block;
  margin-top: 1.5%;
  margin-left: 1.5%;
}

.purple {
  background-color: purple;
  height: 130px;
  width: 642px;
  margin-left: 1.5%;
  margin-top: 1.5%;
}
